/* CÓDIGO CSS PARA ESTILIZAR A PÁGINA HTML DA CALCULADORA */
.calculadora {
    margin-left: 35%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    width: 299px;
    background-image: linear-gradient(black, rgb(139, 139, 139));
    font-size: 20px;
}
.botao_calculadora {
    background-color: orange;
    border:none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    font-size: 22px;
}
.botao_calculadora:hover{
    background-color: orangered;
}
.exibir_dados {
    margin-left: 9px;
    margin-top: 10px;
    font-size: 40px;
    width: 270px;
    height: 50px;
    text-align: right;   
}
.exibir_dados::placeholder{
    color: black;
}
.nome-equipe{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 50px;
    margin-left: 39%;
}
.msg-erro{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 18px;
    margin-left: 39%;

}